.container-cadastro{
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    }
.form-control{
color: black;
border: 1px solid;  
}
form {
align-items: center; 
 border-color: black;  
}
label{
    text-align: center;   
    color: black;
   
}
  